html {
  font-size: 10px;
  -webkit-user-select: none;
  cursor: default;
}

body {
  font-size: 1.2rem;
  font-family: sans-serif;
  background-color: #202020;
  color: #d0d0d0;
  margin: 0;
  overflow: hidden;
}

.menubar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: .25rem;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  background-color: #151515;
}

.menubar .refresh {
  flex: 0 0 auto;
}

.menubar > span.spanner {
  flex: 1 0 auto;
  border-width: 0;
  margin: 0;
  text-align: center;
  -webkit-app-region: drag;
  align-self: center;
}

.menubar span {
  flex: 0 0 auto;
  margin-left: .25rem;
  border-width: 1px;
  border-style: solid;
  border-color: #151515;
}

.menubar > span:first-of-type:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #151515;
  color: #d0d0d0;
}

.menubar span:active {
  color: #FFFFFF;
}

.menubar span:hover {
  border-width: 1px;
  border-style: solid;
  border-color: #FFFFFF;
  color: #e7e7e7;
}

.menubar span.spanner:active, .menubar span.spanner:hover {
  border-color: #151515;
  color: #d0d0d0;
}

.volume-grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  align-content: start;
  position: absolute;
  top: 1.8rem;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: .5rem;
  padding-right: .25rem;
  padding-bottom: .25rem;
  padding-left: .25rem;
  overflow-y: auto;
}

.volume-grid ::-webkit-scrollbar {
  color: black;
  background-color: rgba(127, 127, 127, .5);
}
.volume-grkd ::-webkit-scrollbar-button {
  background-color: rgba(127, 127, 127, .5);
}
.volume-grid ::-webkit-scrollbar-track {
  background-color: rgba(127, 127, 127, .5);
}
.volume-grid ::-webkit-scrollbar-track-piece {
  background-color: rgba(127, 127, 127, .5);
}
.volume-grid ::-webkit-scrollbar-thumb {
  background-color: rgba(127, 127, 127, .5);
}
.volume-grid ::-webkit-scrollbar-corner {
  background-color: rgba(127, 127, 127, .5);
}
.volume-grid ::-webkit-resizer {
  background-color: rgba(127, 127, 127, .5);
}

.volume-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: .25rem;
  transition: width .5s;
}

.left-box {
  flex: 0 0 auto;
  margin-right: .25rem;
  padding: .25rem;
  width: 4rem;
  font-weight: 600;
  text-align: center;
  background-color: #000000;
}

.right-box {
  flex: 1 0 auto;
  padding: .25rem;
  background-color: #000000;
}

.left-box div, .right-box div {
  padding: .1rem;
}

.right-box .meter meter {
  width: 100%;
  font-size: .9rem;
  padding-bottom: .1rem;
}

.right-box .volume-designation:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #FFFFFF;
}
.right-box .volume-designation:active {
  color: #F0F070;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: #202020;
}

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: #004080;
}

meter::-webkit-meter-suboptimum-value {
  background: none;
  background-color: #800000;
}
