<div class="volume-card">
  <div class="left-box" title="Free">
    <div class="big-number">
      {{freePretty}}
    </div>
    <div class="big-number-units">
      {{freeUnits}}
    </div>
    <div class="context-button">
      &#8943
    </div>
  </div>
  <div class="right-box">
    <div class="volume-designation" id="{{caption}}" title="{{label}}">
      <span class="volume-mount">
        ({{driveLetter}})
      </span>
      <span class="volume-label">
        {{label}}
      </span>
    </div>
    <div class="meter">
      <meter
        min="0"
        max="{{sizeRaw}}"
        high="{{sizeThreeQuarters}}"
        value="{{usedRaw}}"
        ></meter>
    </div>
    <div class="small-numbers">
      <span class="small-number-left" title="Used">
        {{usedPretty}}{{usedUnits}}
      </span>/
      <span class="small-number-right" title="Capacity">
        {{sizePretty}}{{sizeUnits}}
      </span>
    </div>
  </div>
</div>
